@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Font Sizings */

$robotoMono: 'Roboto Mono', monospace;
$inter: 'Inter', sans-serif;
$oswald: 'Oswald', sans-serif;

$projectTitleFontSize: 6.4rem;
$projectTitlelFontWeight: 400;

$projectDescriptionFontSize: 1.4rem;
$projectDescriptionFontWeight: 400;

$sectionHeadingFontSize: 1.2rem;
$sectionHeadingFontWeight: 700;

$slideHeadingFontSize: 5rem;
$slideHeadingFontWeight: 600;

$slideHeadingSecondaryFontSize: 2.7rem;
$slideHeadingSecondaryFontWeight: 500;

$bodyTextFontSize: 1.8rem;
$bodyTextFontWeight: 400;

$captionFontSize: 1.2rem;
$captionFontWeight: 400;

$captionFontWeightBold: 600;

$listItemFontSize: 1.6rem;
$listItemFontWeight: 500;

$subHeadingFontSize: 2.4rem;
$subHeadingFontWeight: 400;

$statFontPrimarySize: 7rem;
$statFontPrimaryWeight: 600;

$statFontSecondarySize: 2rem;
$statFontSecondaryWeight: 400;

/* Colours */

$backgroundSmokeyBlack: #141413;

$backgroundHighlight: #FFF4E4;
$backgroundHightlightText: rgba(65, 42, 9, 0.5);
$backgroundGrey: rgba(0, 0, 0, 0.05);
$backgroundGrey-alt: rgba(0, 0, 0, 0.1);

/* General Styles */

:root {
    font-size: 62.5%;
}

html {
    font-family: $inter;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;;
    }
}

/* Container Classes */

.content-container {
    width: 90%;
    margin: 0 auto;
}

/* Spacing Classes */

.extrasmall-top-spacing {
    margin-top: 2.5rem;
}

.small-top-spacing {
    margin-top: 5rem;
}

.medium-top-spacing {
    margin-top: 7rem;
}

.medium-bottom-spacing {
    margin-bottom: 7rem;
}

/* Heading Classes */

.section-heading {
    display: inline-block;
    font-size: $sectionHeadingFontSize;
    font-weight: $sectionHeadingFontWeight;
    text-transform: uppercase;
    letter-spacing: 0.185rem;
    margin-bottom: 3rem;
    background-color: black;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    border-radius: 2rem;
    width: auto;
    height: auto;
}

.slide-heading {
    font-family: $oswald;
    text-transform: uppercase;
    font-size: $slideHeadingFontSize;
    font-weight: $slideHeadingFontWeight;
    margin-bottom: 1.5rem;
}

.slide-heading-secondary {
    font-family: $oswald;
    text-transform: uppercase;
    font-size: $slideHeadingSecondaryFontSize;
    font-weight: $slideHeadingSecondaryFontWeight;
    margin-bottom: 1.5rem;
}

.list-item {
    font-weight: 400;
}

/* Body Text Classes */

.subheading {
    font-size: $subHeadingFontSize;
    font-weight: $subHeadingFontWeight;
    line-height: 3.3rem;
}

.body-text {
    font-weight: $bodyTextFontWeight;
    line-height: 2.7rem;
    font-size: $bodyTextFontSize;
}

.stat-font-primary {
    font-family: $oswald;
    text-transform: uppercase;
    font-weight: $statFontPrimaryWeight;
    font-size: $statFontPrimarySize;
    text-align: left;
}

.stat-font-secondary {
    font-family: $oswald;
    font-weight: $statFontSecondaryWeight;
    font-size: $statFontSecondarySize;
    text-align: left;
    margin-bottom: 3rem;
}

.quote-break {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.062);
}

.quote {
    width: 95%;
    margin: 0 auto;
    padding-top: 2rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    font-family: 'EB Garamond', serif;
    color: #d16532;
    text-align: center;

    figcaption {
        margin-top: 2rem;  
    }

    blockquote {
        margin: 1rem;
    }
}

.highlight {
    font-weight: 600;
}

/* Visual Aid Classes */

.visual-aid {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.visual-aid-sm {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.full-width-visual-aid {
    width: 100%;
    margin-bottom: 2rem;
}

.visual-aid-caption {
    font-family: $robotoMono;
    font-size: $captionFontSize;
    font-weight: $captionFontWeight;
}

.visual-aid-caption-bold {
    font-family: $robotoMono;
    font-size: $captionFontSize;
    font-weight: $captionFontWeightBold;
}

.border-radius {
    border-radius: 2rem;
}

/* Background Highlight Class */

.background-highlight {
    background-color: $backgroundGrey;
}

/* Projects Landing Page Content */

.projects-navigation-wrapper {
    width: 90%;
    margin: 0 auto;
    .projects-navigation {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 3rem 0;
        
        .projects-navigation-item {
            font-family: $robotoMono;
            font-size: 1.4rem;
            .projects-link {
                color: black;
            }
        }
    }
}

.projects-header {
    background: white;
    color: black;
}

.projects-container {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    

    .projects-list {

        .intro {
            font-weight: 500;
            line-height: 2.5rem;
            margin-bottom: 10rem;
        }
        .project-item {
            .project-name {
                font-size: $projectTitleFontSize;
                font-weight: $projectTitlelFontWeight;

                .project-button {
                    color: black;
                    transition: 0.3s;

                    &:hover {
                        color: rgb(108, 186, 238);
                    }
                }
            }
            .project-summary {
                font-size: $projectDescriptionFontSize;
                font-weight: 500;
                line-height: 2.3rem;
            }
        }
    }
}


.wip-label {
    border-style: solid;
    border-width: medium;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    color: red;
}

/* Individual Project Content */

.navigation-wrapper {
    width: 90%;
    margin: 0 auto;
    .navigation {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 3rem 0;
        
        .navigation-item {
            font-family: $robotoMono;
            font-size: 1.4rem;
            a {
                color: white;
            }
        }
    }
}

header {
    background: $backgroundSmokeyBlack;
    color: white;
    margin-top: 6rem;
    padding-top: 5rem;
}

.header-container {
    width: 90%;
    margin: 0 auto;
}

.project-header-info {
    margin-top: 5rem;
    padding-bottom: 10rem;

    .project-count {
        font-size: $sectionHeadingFontSize;
        font-weight: $sectionHeadingFontWeight;
        text-transform: uppercase;
        letter-spacing: 0.185rem;
    }
    .project-title {
        font-size: $projectTitleFontSize;
        font-weight: $projectTitlelFontWeight;
        margin-top: 2.5rem;
    }
    .project-description {
        font-weight: 400;
        line-height: 2.7rem;
        margin-top: 2.5rem;
    }
    .project-roles {
        font-family: $robotoMono;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: italic;
        margin-top: 2.5rem;
    }
    .project-dates {
        font-family: $robotoMono;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: italic;
        margin-top: 0.5rem;
    }
}

.project-tease {
    img {
        width: 100%;
    }
}

.stage {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.stage-alt {
    background-color: $backgroundGrey;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.stage-alt-2 {
    background-color: $backgroundGrey-alt;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

/* Credits */
.reference-name {
    font-style: italic;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
}

.reference-link {
    color: rgba(0, 0, 0, 0.4);
    transition: ease-in-out 200ms;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0);

    &:hover {
        color: rgba(0, 0, 0, 1);
        padding-bottom: 0.2rem;
        border-bottom: 2px solid rgba(0, 0, 0, 1);
    }
}

/* Anchor Nav */
.anchor-nav {
    display: none;
}

/* Tablet Devices */

@media screen and (min-width: 768px) {

    /* PROJECTS LANDING PAGE */

    /* FONTS */

    .stat-font-primary {
        font-weight: $statFontPrimaryWeight;
        font-size: $statFontPrimarySize;
        text-align: center;
    }
    
    .stat-font-secondary {
        font-weight: $statFontSecondaryWeight;
        font-size: $statFontSecondarySize;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 0;
        width: 60%;
    }

    .quote {
        width: 90%;
        margin: 0 auto;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4.5rem;
        text-align: center;
    
        figcaption {
            margin-top: 2rem;  
        }
    
        blockquote {
            margin: 1rem;
        }
    }

    .quote-break {
        width: 20%;
    }

    /* INDIVIDUAL PROJECTS */

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .project-header-info {
            .project-description {
                width: 85%;

            }
        }

        .project-tease  {
            img {
                margin-top: auto;
                align-self: center;
            }
        }
    }
    
    .content-container {
        width: 70%;
        margin: 0 auto;

        .body-split-two {
            display: flex;

            .split-container {
                width: 100%;
            }
        }
    }

    .single-image {
        width: 95%;
        margin: 0 auto;
    }

    .single-image-alt {
        width: 80%;
        margin: 0 auto;
    }
    
    .image-split-two {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .image-split-three {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .stage-alt {
        background-color: $backgroundGrey;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    
    .stage-alt-2 {
        background-color: $backgroundGrey-alt;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

}

@media screen and (min-width: 992px) {

    /* Projects Landing Page */

    .projects-navigation-wrapper {
        width: 90%;
        margin: 0 auto;
        .projects-navigation {
            display: flex;
            justify-content: space-between;
            align-content: center;
            padding: 3rem 0;
            
            .projects-navigation-item {
                font-family: $robotoMono;
                font-size: 1.4rem;
                .projects-link {
                    color: black;
                }
            }
        }
    }

    /* FONTS */

    .quote {
        width: 80%;
    }
    
    .projects-header {
        background: white;
        color: black;
    }
    
    .projects-container {
        max-width: 1200px;
        margin-top: 0;
        margin-bottom: 0;

        .projects-list {
            .intro {
                width: 600px;
            }
            .project-item {
                display: flex;
                .project-name {
                    
                }
                .project-summary {
                    width: 400px;
                    margin-left: 2rem;
                    margin-top: 2rem;
                }
            }
        }
    }

    /* Individual Projects */

    header {
        margin-left: auto;
        margin-right: auto;
        padding-top: 8rem;
        width: 90%;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;

        .project-header-info {
            .project-description {
                width: 60%;
            }
        }

        .project-tease  {
            margin-top: auto;
            img {
                align-self: center;
            }
        }
    }
    
    .content-container {
        width: 650px;
        margin: 0 auto;

        .body-split-two {
            display: flex;

            .split-container {
                width: 100%;
            }
        }
    }

    .single-image-full {
        width: 100%;
    }

    .single-image {
        width: 900px;
        margin: 0 auto;
    }

    .single-image-alt {
        width: 700px;
        margin: 0 auto;
    }
    
    .image-split-two {
        display: flex;
        width: 900px;
        margin: 0 auto;
    }

    .image-split-three {
        display: flex;
        width: 900px;
        margin: 0 auto;
    }

    .stage-alt {
        background-color: $backgroundGrey;
        padding-top: 12rem;
        padding-bottom: 12rem;
        width: 90%;
        margin: 0 auto;
    }
    
    .stage-alt-2 {
        background-color: $backgroundGrey-alt;
        padding-top: 12rem;
        padding-bottom: 12rem;
        width: 90%;
        margin: 0 auto;
    }

    .anchor-nav {
        display: block;
        visibility: hidden;
        align-items: center;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        width: auto;
        height: auto;
        z-index: 100;
        margin-bottom: 7rem;
        border-radius: 2.5rem;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: ease-in-out 200ms;
        // box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);



        .anchor-nav-heading {
            margin-top: 1.5rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 0.5rem;
            color: rgba(255, 255, 255, 0.3);
            font-weight: 400;
            text-align: center;
        }

        .anchor-nav-list {
            display: flex;
            flex-direction: column;
            padding: 1rem 1rem 1rem 1rem;

            .anchor-link {
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                    border-radius: 2rem;
                    color: white;
                }

                .anchor-nav-list-item {
                    font-weight: 500;
                    font-size: 1.3rem;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.1);
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    transition: ease-in-out 200ms;
    
                    &:hover {
                        background-color: rgba(255, 255, 255, 1);
                        color: rgba(0, 0, 0, 1);
                    }

                }

            }
        }
    }

    .anchor-nav.active {
        visibility: visible;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

}

